@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');

:root{
    --line-border-fill: #3499db;
    --line-border-empty: #e0e0e0;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background-color: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}
.container
{
    text-align: center;
}
.progress-container
{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 2rem;
    max-width: 100%;
    width: 400px;
}
.progress-container::before
{
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);  /* per centrare la linea */
    height: 4px;
    width: 100%; /*lo modifico con js*/
    z-index: -1;
}
.progress
{
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);  /* per centrare la linea */
    height: 4px;
    width: 0%; /*lo modifico con js*/
    z-index: -1;
    transition: 0.4s ease;
}
.circle
{
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    /* li centro e gli do un bordo  */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--line-border-empty);
    transition: 0.4s ease;
}
.circle.active
{
    border-color: var(--line-border-fill);
}
.btn
{
    background-color: var(--line-border-fill);
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    /* eredita font  */
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    font-size: 1rem;
}
.btn:active
{
    transform: scale(0.98);
}
.btn:focus
{
    outline: 0;
}
.btn:disabled
{
    background-color: var(--line-border-empty);
    cursor: not-allowed;
}